python-dotenv
langchain
openai
google-api-python-client # Google API
google-search-results # SerpAPI
youtube-transcript-api
google-search-results
google-cloud-aiplatform
anthropic
audiorecorder
chromadb
tiktoken
faiss-cpu
wikipedia
cohere
sendgrid
pywhatkit
sqlalchemy
matplotlib
scikit-learn
scipy
llamaapi
plotly
streamlit_chat
docx2txt
pypdf
nomic
wolframalpha
pyowm
chainlit
git+https://github.com/openai/whisper.git
judini
duckduckgo-search
arxiv
googleapis-common-protos
google-auth-httplib2
google-auth
google-api-python-client
google-api-core
html2text